body {
	font-family: 'Arimo', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
}

p {
	color: #9a9a9a;
}

.bg-card {
	background: #2a2a2a;
	border-radius: 20px
}

h5 {
	color: white;
	text-align: center
}

.btn{
	padding: 0!important;
}

.btn-outline-secondary {
	color: #cbc6c6 !important;
	border-color: #cbc6c6 !important;
}

.input-search {
	/*background: #484848 !important;*/
	color: #a8a8a8 !important;
	width: 150px;
	background-color: transparent;
	border-color: #a8a8a8;
	border-width: 1px;
}

.input-search:hover {
	background-color: #484848;
}

.color-icon {
	color: #fff;
}

.color-icon-edit {
	color: #be911f;
}

.input-search-position-employee {
	/*background: #484848 !important;*/
	color: #a8a8a8 !important;
	width: 10px !important;
	background-color: transparent;
	border-color: #a8a8a8;
	border-width: 1px;
}

.input-search {
	/*background: #484848 !important;*/
	color: #a8a8a8 !important;
	width: 150px;
	background-color: transparent;
	border-color: #a8a8a8;
	border-width: 1px;
}

.input-search:hover {
	background-color: #484848;
}

.modal-content {
	font-family: 'Arimo', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	background-color: #2a2a2a;
	color: #a8a8a8 !important;
}

.card-notify-year {
	position: absolute;
	right: -10px;
	top: -20px;
	background: #aa9999;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 50px;
	height: 50px;
	padding: 15px 0 0 0;
}

.card-notify-year-checkbox {
	position: absolute;
	left: -10px;
	top: -10px;
	background: #aa9999;
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 25px;
	height: 25px;
	padding: 15px 0 0 0;
}

.card-notify-year-custom {
	position: absolute;
	right: -10px;
	top: -20px;
	background: #0d6efd;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 50px;
	height: 50px;
	padding: 15px 0 0 0;
	opacity: 0;
	-webkit-animation: 2.5s linear infinite spinner-grow;
	animation: 2.5s linear infinite spinner-grow;
}

.card-detail-badge {
	background: #c6c6c0;
	text-align: center;
	border-radius: 5px;
	color: #000;
	padding: 5px 5px;
	font-size: 14px;
}
/*// Small devices (landscape phones, 576px and up) sm*/
@media ( min-width : 576px) and (max-width: 767.98px) {
}

/*// Medium devices (tablets, 768px and up) md*/
@media ( min-width : 768px) and (max-width: 991.98px) {
}

/*// Large devices (desktops, 992px and up) lg*/
@media ( min-width : 992px) and (max-width: 1199.98px) {
}

/*// Extra large devices (large desktops, 1200px and up) xl*/
@media ( min-width : 1200px) {
}

.form-group input {
	/* hide the checkbox */
	display: none;
	border: 1px solid white;
}

.form-group label {
	/* style the label as a circle etc. */
	background-color: #121212;
}

.form-group input:checked+label:hover {
	/* selected style */
	background-color: #121212;
}

input[id="html"]+label {
	width: 110px;
	height: 38px;
	border: 1px solid #21d5d5;
	border-radius: 4px;
	cursor: pointer;
}

input[id="html"]:checked+label:after {
	position: relative;
	top: -4px;
	left: 2px;
	content: '\2714';
	font-size: 14px;
}

input[id="cb1"] {
	display: none;
}

.box {
	display: flex;
}

.label-custom {
	margin: auto;
}

.hiddenText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}